* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
#section1 {
  background-color: #212529;
  padding: 16px;
  position: fixed;
  width: 100%;
}
#section1 .a1 {
  color: #fff;
  padding: 5px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;

  margin-left: 180px;
  margin-right: 1200px;
  text-decoration: none;
}
#section1 .a2 {
  color: #9b9d9e;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  transition: 0.4ms;
}
#section1 .a2:hover {
  color: #fff;
}
#section2 {
  background-color: #1c77fd;
  padding: 350px 0 96px;
  font-size: 16px;
}
#section2 .h1 {
  font-size: 40px;
  color: #fff;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 700px;
  margin-bottom: 10px;
  margin-top: -160px;
}
#section2 .p1 {
  font-size: 20px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
  margin-left: 650px;
  margin-bottom: 50px;
}
#section2 .btn1 {
  padding: 15px;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  margin-left: 850px;
  margin-top: -103px;
  text-decoration: none;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#section3 {
  padding: 180px;
}

#section3 .h2 {
  font-weight: 600;
  font-size: 32px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 350px;
}
#section3 .p1 {
  margin-left: 350px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 30px;
}
#section3 .ul1 {
  margin-left: 350px;
  font-size: 16px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#section4 {
  padding: 150px;
  background-color: #f8f9fa;
}

#section4 .h2 {
  font-weight: 600;
  font-size: 32px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 350px;
}
#section4 .p1 {
  margin-left: 350px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 30px;
}

#section5 {
  padding: 150px;
}
#section5 .p1 {
  margin-left: 350px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 30px;
}
#section5 .h2 {
  font-size: 32px;
  font-weight: 600;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 350px;
}
#section6 {
  background-color: #212529;
  padding: 48px;
}
#section6 .p1 {
  color: #fff;
  font-size: 16px;
  margin-left: 840px;
}
