        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        header {
            display: flex;
            background-color: #fff;
            align-items: center;
        }
        
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        
        header .left {
            width: 50%;
            padding: 10px 20px;
        }
        
        header .left img {
            width: 40%;
        }
        
        header .right {
            width: 50%;
        }
        
        header a {
            display: block;
            text-decoration: none;
            font-size: 17px;
            font-family: 'Nunito', sans-serif;
            color: gray;
            font-weight: 700;
        }
        
        .slider {
            background-image: url(https://getmasum.com/html-preview/nour/assets/img/slider/1.jpg);
            background-size: cover;
            width: 100%;
            padding: 200px 0;
        }
        
        #section1 .slider .text {
            text-align: center;
            padding: 60px 0 0;
        }
        
        #section1 a {
            text-decoration: none;
        }
        
        #section1 p {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 17px;
        }
        
        #section1 h1 {
            color: #fff;
            font-size: 55px;
            margin-bottom: 50px;
            line-height: 1.4;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            margin: 0 0 50px;
        }
        
        #section1 a {
            background-color: #6168FF;
            color: #fff;
            border-color: #ffff;
            border: 2px solid #6168FF;
            border-radius: 4px;
            font-size: 13px;
            padding: 13px 30px;
            transition: all 0.3s ease 0s;
            font-weight: 700;
        }
        
        #section1 a:hover {
            background-color: transparent;
        }
        
        #section2 {
            display: flex;
            align-items: center;
        }
        
        #section2 .left {
            width: 50%;
            display: flex;
        }
        
        #section2 .left .box {
            width: 50%;
        }
        
        #section2 .left .box i {
            font-size: 60px;
        }
        
        #section2 .right .img {
            width: 80%;
        }
        
        #section2 .right img {
            width: 100%;
        }